<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body style="background-image: radial-gradient(circle, #aa3fa0, #ba3a97, #c8368c, #d43481, #dd3575, #e7406a, #ee4e60, #f35c56, #f8744e, #fa8b49, #f9a149, #f5b74e);">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>





 


