<div class="mb-5 w-100">
    <hr class="w-100" width="75%" style="border: 1; height: 1px;">
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a style="color:white;" href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" ><small style="color: #1b0000; font-family:Source Serif 4; font-weight:200;">{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
